
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.nav {
  width: 100vh;
  display: block;
  height: 11vh;
  margin: 20px auto;
  min-height: 60px;
  width: 95%;
  background-color: black;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  overflow: auto;
}


img {
  max-width: 100vh;
  padding-top: 3vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 1024px) {
body {
  background-color: cyan;
}

img {
float: left;
/*width: 33vh;*/
/*margin: 1vh;*/
display: block;
padding-top: 0px;
text-align:center;
width: 49%;
margin: 4.25px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}






}
