 /*For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
  overflow: auto;
}

.logo {
  border-radius: 100%;
  width: 65px;
  float: left;
}

.logoText {
  font-size: 2em;
  margin-top: 0px;
  padding-top: 13px;
  margin-left: 75px;
  max-width: 100px;
}

ul {
  list-style-type: none;
  margin: 0px;
  overflow: auto;
  padding: 0px;
}

li {
  float: left;
  padding: 1vh 1.6vh;
  background-color: #D3D3D3;
  margin-right: 4px;
}

.logoBig {
  border-radius: 100%;
  margin: 5px auto 20px auto;
  display: block;
}

p, h3 {
  padding: 5px;
}

h3 {
  margin-bottom: -20px;
}

.subImg {
  max-width: 100%;
  margin: 15px 0;
}

.item {
  overflow: auto;
}

.smallSquare {
  float: left;
  max-width: 50px;
}

.smallText {
  float: left;
  max-width: 87%;
  padding-left: 10px;
}

@media only screen and (min-width: 1024px) {

  .logoBig {
    float: right;
  }

  .mainContent {
    padding-top: 10px;
    clear: both;
  }

  nav {
    float: left;
  }

  ul {
    float: right;
    margin-top: 13px;
  }

  .mainText {
    float: left;
    max-width: 65%;
    margin-top: 7vh;
  }

  .imgColumn {
    clear: both;
  }

  .subImg {
    max-width: 32%;
    margin-left: 7px;
  }

  .textColumn{
    float:left;
    max-width: 49%;
    /*margin: 7px;*/
  }

  .imgTextColumn{
    float: right;
    max-width: 49%;
  }
  .smallText p:first-child, .textColumn p:nth-child(odd) {
    margin-bottom: -20px;
  }

  .smallSquare {
    margin-top: 22px;
  }
}

@media only screen and (min-width: 1396px) {

  .mainContent {
    max-width: 95%;
  }

  .mainText {
    margin-left: 3%;
  }

  .imgColumn {
    float: left;
    width: 31%;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .subImg {
    max-width: 100%;
  }

  .textColumn {
    float: left;
    width: 31%;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .textColumn p {
    float: left;
    max-width: 100%;
  }

  .imgTextColumn {
    float: left;
    width: 31%;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1420px), (max-width: 1470px) {

  .smallText {
    max-width: 80%;
  }
}
