/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul {
  padding-left: 0px;
  margin-bottom: 50px;
}

li {
  list-style-type: none;
  float: left;
  padding-right: 30px;
}

.logo {
  width: 20vh;
  text-align: center;
}

h1.sub {
  width: 95%;
}

.header {
  overflow: auto;
}

img {
  width: 100%;
}

.featured {
  margin-bottom: 45px;
}


@media only screen and (min-width: 1366px) {

  h1, h2 {
    background-color: cyan;
    width: 80%;
  }

  li {
    float: left;
    padding-right: 50px;
  }

  .header {
    overflow: auto;
  }

  .logo {
    margin-left: 2%;
    padding-right: 0px;
    width: 20%;
  }

  .headerText {
    margin-left: 10%;
    overflow: auto;
    clear: both;
  }

  ul {
     float: right;
  }

}
